.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.introductionText {
  font-size: 1.25em;
  text-align: center;
}

.architectureImage {
  width: 50%;
}

@media (max-width: 768px) {
  .architectureImage {
    width: 100%;
  }
}
