<div class="features">
    <div class="row">
        <% var cardList = theme.features %>
        <% for(var i = 0; i < cardList.length; i++) { %>
            <% var card = cardList[i] %>
            <% if (card.cards && card.cards.length) { %>
                <% for(var j = 0; j < card.cards.length; j++) { %>
                <div class="col l4 m4 s12 left-align text">
                    <h3><%= __(card.cards[j].title) %></h3>
                    <p><%= __(card.cards[j].text) %></p>
                </div>
                <% } %>
            <% } %>
            <% if (card.img) { %>
            <img class="col l12 m12 s12" src="<%= __(card.img.url) %>" alt="<%= __(card.img.title) %>" lazy="true" />
            <% } %>
        <% } %>
    </div>
</div>
