.hero {
  background: var(--ifm-color-primary);
  background: linear-gradient(
    90deg,
    rgba(62, 228, 255, 1) 5%,
    var(--ifm-color-primary) 30%,
    var(--ifm-color-primary) 70%,
    rgba(62, 228, 255, 1) 95%
  );

  padding-top: 128px;
  padding-bottom: 128px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.githubButton > * {
  vertical-align: middle;
}

@media (max-width: 767px) {
  .hero {
    background: linear-gradient(
      rgba(62, 228, 255, 1) 5%,
      var(--ifm-color-primary) 25%,
      var(--ifm-color-primary) 75%,
      rgba(62, 228, 255, 1) 95%
    );
  }
}
