/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@font-face {
  font-family: 'Sofia Pro';
  src: local('Sofia Pro'), url('./SofiaPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro';
  src: local('Sofia Pro'), url('./SofiaPro-Bold.otf') format('opentype');
  font-weight: bold;
  font-display: swap;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0041f0;
  --ifm-color-primary-dark: #003ad8;
  --ifm-color-primary-darker: #0037cc;
  --ifm-color-primary-darkest: #002da8;
  --ifm-color-primary-light: #094cff;
  --ifm-color-primary-lighter: #1554ff;
  --ifm-color-primary-lightest: #396fff;

  --ifm-color-content: #232f47;
  --ifm-font-family-base: 'Sofia Pro', system-ui, -apple-system, Segoe UI,
    Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont,
    'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
}

/* Overriding the defaults */
.navbar {
  height: 80px;
  box-shadow: none;
  border: 1px solid #d9d9d9;
}

.navbar.navbar--no-border {
  border: 0;
}

.navbar__inner {
  max-width: 1280px;
  margin: 0 auto;
}

.navbar__item {
  font-size: 20px;
  padding-left: 22px;
  padding-right: 22px;
}

.navbar__brand {
  font-size: 24px;
}

.navbar__brand + .navbar__item {
  margin-left: auto;
}

.navbar .dropdown__link {
  font-size: 20px;
}

.footer--dark {
  --ifm-footer-background-color: #000;
  --ifm-footer-link-color: #adb0b7;
  padding-top: 80px;
}

.footer__logo {
  margin-top: unset;
}

.footer__title {
  font-size: 24px;
}

.footer__item {
  font-size: 20px;
}

.footer__copyright {
  font-size: 18px;
  margin-top: 40px;
}

@media (min-width: 997px) {
  .navbar__items.navbar__items--right::before {
    content: '';
    border-right: 1px solid #d9d9d9;
    height: 12px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 996px) {
  .footer {
    text-align: center;
  }

  .footer__logo {
    margin-bottom: 32px;
  }
}

/* Github icon in navbar */
.header-github-link {
  display: inline-flex;
  align-items: center;
}

.header-github-link > span {
  height: 28px;
}

.header-github-link:before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
  content: '';
  height: 18px;
  width: 18px;
  margin-right: 8px;
}
