.container {
  padding: 80px;
}

.content {
  max-width: 1144px;
  margin: 0 auto;
}

.header {
  font-size: 52px;
  margin-bottom: 80px;
  text-align: center;
}

.logoGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 32px;
}

.logoDisplayLink {
  display: block;
  width: 100%;
  color: inherit;

  &.disabled,
  &.disabled:hover {
    color: inherit;
    text-decoration: none;
    opacity: 0.5;
  }

  &:not(.disabled):hover {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
  }

  &:not(.disabled):hover .imageContainer {
    transform: scale(1.2);
  }

  &:not(.disabled):hover .hoverImageContainer {
    opacity: 1;
    transform: translateX(150%) scale(2);
  }

  .logoTitle {
    text-align: center;
    font-size: 20px;
  }
}

.logoDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;

  .imageContainer {
    transition: transform 0.25s ease-in-out;
  }
  .hoverImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #ffffffdd;
    transition: all 0.15s ease-in-out;
    opacity: 0;
    z-index: 100;
  }
}

@media (max-width: 425px) {
  .container {
    padding: 80px 20px;
    text-align: center;
  }
}
